*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 172, 118, 0.473);
}

.jumbotron {
    background-color: rgb(247, 247, 247);
    box-shadow: 0 0 10px 2px;
}

.btn {
    display: grid;
    /* grid-template-columns: repeat(2); */
    gap: 5px;
    margin: 20px 0;
    border: 1px solid;
    border-color: white;
    color: white;
}

.btn:hover {
    border-color: black;
    box-shadow: 0 0 5px 1px;
}

.btn {
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#nextButton {
    color: black
}